{% extends 'store/layouts/main.html' %} {% block content %} {% include 'store/inc/slider.html' %}
<div class="container my-5">
    <div class="row">
        <div class="col-md-12">
            <h3>Trending Products</h3>
            <hr>
            <div class="row owl-carousel owl-theme">
                {% for item in trending_products %}
                <div class="product_data item">
                    <div class="card">
                        <div class="card-body">
                            <a href="{% url 'productview' item.category.slug item.slug %}">
                                <div class="category-image">
                                    <img src="{{ item.product_image.url }}" alt="Product image" class="w-100" />
                                </div>
                                <h4 class="text-center"> {{ item.name }} </h4>
                            </a>
                            <span class="float-start">{{ item.selling_price }}</span>
                            <br>
                            <div class="row mt-2">
                                <div class="col-md-6">
                                    {% csrf_token %}
                                    <input type="hidden" value="{{ item.id }}" class="prod_id">
                                    <div class="input-group text-center mb-3">
                                        <button class="input-group-text decrement-btn">-</button>
                                        <input type="text" name="quantity" class="form-control qty-input text-center" value="1">
                                        <button class="input-group-text increment-btn">+</button>
                                    </div>
                                </div>
                                <div class="col-md-6 px-0">
                                    <span class="mb-2">
                                        {% if item.quantity > 0 %}
                                            <button type="button" class="btn btn-primary badge me-3 addToCartBtn">Add to Cart <i class="fa fa-shopping-cart"></i></button>
                                        {% else %}
                                            <button type="button" class="btn btn-danger badge me-3 disabled">Out of Stock</button>
                                        {% endif %}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <h1>Hello Hey There World</h1>
    {% endblock content %} {% block scripts %}
    <scripts>
        $('.owl-carousel').owlCarousel({ loop:true, margin:10, nav:true, responsive:{ 0:{ items:1 }, 600:{ items:3 }, 1000:{ items:4 } } })
    </scripts>

    {% endblock scripts %}